h1{
	font-size:70px;
	color:whitesmoke;
	font-family:proximaNova;
}
h2{
	color:#6c757d;
	font-family: open sans;
	font-size: 60px;
	margin-left:10%;
}
.footer-copyright text-center py-3{
	background-color:navy;
}

a{
	font-size:25px;
	color: #f9f3f9;
	text-decoration:none;

}
.footer-items{
	background-color:#3e51b7; 
	color:#fff !important;
}
.footer-items a{
	color: #fff !important;
	font-size: 20px;
}
.nav{
	overflow:hidden;

}
.nav-pills{
background-color:black;

}
.custom-navs{
	opacity:0.7;
}
.navbar .navbar-fixed-top.intro {
    background-color:#071525;
    border-bottom: 1px solid #3f3f3f;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    opacity:0.9;
    
}
.slider-custom{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover; 

}
.cover {
  object-fit:cover;
  height: 550px;
}
.btn-custom{
	border-radius:5%;
	border-collapse: collapse;
	height:50px;

}
.page-footer ,.container{
	background-color:#071525;
}

.another-section {
	background-color: lightgreen;
	margin-top:3px;
	margin:5%;

}
.another-section img{
	width:300px;
	height: 300px;
	float: left;
	padding-right:2%;
	padding-bottom:2%;

}
.another-section h1{
	margin-top: -8px;
}
.caption p{
	color:black;
	margin-right:25px;
	text-align:center;
}
.logo{
	/*float: left;
    font-size:30px;
    line-height: 60px;
    text-align: center;
    padding: 0 10px;
    width: 220px;
    font-family: 'Kaushan Script','cursive';
    font-weight: 600;
    height: 50px;
    display: block;
    color:whitesmoke;*/
    

}
.logo:hover{
	color:whitesmoke;

}
.text-customiz{
	color:whitesmoke;
}
